language: node_js
node_js:
  - v4

notifications:
  email:
    - contato@albertosouza.net

after_success:
- npm install coveralls
- npm run coverage
- cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js